{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% set _menu_active = 'societe' %}

{% extends 'base.html.twig' %}
{% block body %}

    <img src="{{ asset("/images/error_500_sansfond.svg") }}" style="padding-top: 10%; min-width:70%; max-width:100%; margin: 0 auto; display:block" class="row justify-content-center"/>
    
    
    </div>

{% endblock %}