<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="col-xs-2">Date</th>
            <th class="col-xs-2">Document</th>
            <th class="col-xs-3 text-left">Société</th>
            <th class="col-xs-3">Contenu</th>
            <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
            <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
    {% set facture = item.doc %}
        <tr class="">
            <td>{{ ((facture.isDevis) ? facture.dateDevis : facture.dateFacturation) | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}</td>
            <td>
              <a href="{{ path('facturable_pdf', {'document': facture.id })}}"><span class="glyphicon glyphicon-file"></span> {% if facture.isDevis %}Devis n° {{ facture.numeroDevis }}{% elseif(facture.isAvoir) %}Avoir n° {{ facture.numeroFacture }}{% else %}Facture n° {{ facture.numeroFacture }}{% endif %}</a>
              {% if facture.isFacture and facture.hasDevis %}
                <br/>
                Devis n°: {{ facture.numeroDevis }}
              {% endif %}
            </td>
            <td><a href="{{ path('facture_societe', {'id': facture.societe.id })}}">{{ facture.destinataire.nom }}</a></td>
            <td>
                <a data-toggle="tooltip" title="{% for ligne in facture.lignes %}{{ (ligne.libelle) ? ligne.libelle~"\n" : "Aucun" }}{% endfor %}" href="{{ path('facturable_pdf', {'document': facture.id })}}">{{ facture.lignes | length}} ligne(s)</a>
                {% for origine in facture.origines %}
                    - <a href="{{ path('contrat_visualisation', {'id': origine.id })}}">Contrat n° {{ origine.numeroArchive }}</a>
                {% endfor %}
            </td>
            <td class="text-right">{{ "%0.2f" | format(facture.montantTTC)  }}&nbsp;€</td>
            <td class="text-right {% if facture.isDevis %}active{% endif %}">
            {% if facture.isFacture %}
              {% if(facture.isAvoir) %}<span class="text-muted">-</span>
              {% elseif(facture.isRedressee) %}
              <span data-toggle="tooltip" title="{{ facture.avoir }}" class="pull-left label label-xs label-warning">R</span>
              &nbsp;<span class="text-muted">{{ "%0.2f" | format(facture.montantPaye)  }}&nbsp;€</span>
              {% else %}
                <span class="text-muted" data-toggle="tooltip" title="{% for p in paiements[facture.id] %}Paiement du : {{ p.date | localizeddate("medium", "none", null, null, "d MMMM yyyy") }} <br/>{% endfor %}" >{{ "%0.2f" | format(facture.montantPaye)  }}&nbsp;€</span>
              {% endif %}
            {% endif %}
          </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
