<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="col-xs-1">Moyen</th>
            <th class="col-xs-5">Facture</th>
            <th class="col-xs-3">Libellé</th>
            <th class="col-xs-2">Date</th>
            <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
    {% set paiements = item.doc %}
    {% set paiement = item.paiement %}
        <tr class="">
        	<td>{{ paiement.moyenPaiement|capitalize }}</td>
        	<td><a title="Voir la société" href="{{ path('societe_visualisation', {'id': paiement.facture.societe.id })}}">{% if paiement.facture.societe.raisonSociale | length > 40 %}{{ paiement.facture.societe.raisonSociale | slice(0, 40)~"..." }}{%else%}{{ paiement.facture.societe.raisonSociale }}{% endif %}</a> Facture n°<a href="{{ path('facturable_pdf', {'document': paiement.facture.id })}}">{{ paiement.facture.numeroFacture }}</a></td>
        	<td><a title="Voir le paiement" href="{{path('paiements_liste', {'periode': paiements.dateCreation | localizeddate("medium", "none", null, null, "MM/yyyy") }) }}" >{{ paiement.libelle }}</a></td>
        	<td>{{ paiement.datePaiement | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</td>
            <td class="text-right">{{ paiement.montant | number_format(2, ',', ' ')}}&nbsp;€</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
