<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Contrat {% if (editionMode is defined) %}<a class="btn btn-default btn-xs pull-right" href="{{ path('contrat_modification', {'id': contrat.id })}}">Modifier</a>{% endif %}</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7">
                    	{% if contrat.isAnnule() %}
                        <p class="alert alert-danger" style="padding: 10px;">Contrat annulé le {{ contrat.getDateResiliation() | localizeddate("medium", "none", null, null, "dd/MM/y") }}{% if contrat.commentaire %} : {{ contrat.commentaire | nl2br }}{% endif %}
                        </p>
                    	{% endif %}
                        <p class="lead text-center">
                            {{ contrat.getTypeContratLibelle() }} {% if(contrat.typeContratOriginal and contrat.typeContrat != contrat.typeContratOriginal) %}({{ contrat.typeContratOriginalLibelle }}){% endif %} de {{ contrat.getDuree() }} mois {% if contrat.reconduit %}<button class="btn btn-xs btn-success">Reconduit</button>{% endif %}<br />
                        </p>
                        {%  if contrat.getDateDebut() %}
                        <p class="lead text-center">
                            Du {{ contrat.getDateDebut() | localizeddate("medium", "none", null, null, "dd/MM/y") }} au {% if contrat.getDateFin() %}{{ contrat.getDateFin() | localizeddate("medium", "none", null, null, "dd/MM/y") }}{% else %}{{ contrat.getDateDebut()|date_modify("+"~contrat.getDuree()~" month")|date("d/m/Y") }}{% endif %}
                        </p>
                    	{% endif %}
                        <p class="text-center">
                        {% for prestation in contrat.prestations %} {% if(prestation.wordToPicto)
            			%} <span class="step size-24" title="{{  prestation.nomToString }}"
            				data-toggle="tooltip"> <i class="mdi-{{prestation.wordToPicto}}"
            				style="cursor: pointer;">&nbsp;</i></span> {%else%} <span
            				class="label label-xs label-primary">{{ prestation.nomToString }}</span>
            			{%endif%} {% endfor %}
                        {% if(contrat.isEnAttenteAcceptation() and contrat.contratPassages | length == 0 ) %}
                        {{ contrat.previsionnel | length }} passage(s)
                        {% else %}
                            {{ contrat.nbPassages }}  passage(s)
                        {% endif %}
                        </p>
                        <p class="text-center">
                            {% if contrat.getDureeGarantie() %}Garantie {{ contrat.getDureeGarantie() }}  mois{% else %}Sans garantie{% endif %}
                        </p>
                    </div>
                    <div class="col-xs-5">
                        Date de création : <strong>{{ contrat.dateCreationAuto() ? contrat.dateCreationAuto()|date("d/m/Y") : contrat.dateCreation()|date("d/m/Y") }}</strong><br />
                        Date d'édition : <strong>{{ contrat.dateCreation()|date("d/m/Y") }}</strong><br />
                        Date d'acceptation : <strong>{% if(contrat.getDateAcceptation()) %}{{ contrat.getDateAcceptation()|date("d/m/Y") }}{% endif %}</strong><br /><br />
                        Durée d'un passage : <strong>{{ contrat.getHumanDureePassage() }}</strong><br /><br />
                        Commercial : <strong>{{ contrat.getCommercial().getIdentite() }}</strong><br />
                        Technicien : <strong>{% if contrat.getTechnicien() %}{{ contrat.getTechnicien().getIdentite() }}{% else %}Non défini{% endif %}</strong><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Facturation {% if(editionMode is defined) %}<a class="btn btn-default btn-xs pull-right" href="{{ path('contrat_modification', {'id': contrat.id })}}">Modifier</a>{% endif %}</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7">
                        <p class="lead text-center">{{ contrat.getPrixHt()|number_format(2, ',', ' ') }} € HT <small>soit {{ ((1+contrat.tva) * contrat.getPrixHt)|number_format(2, ',', ' ') }} € TTC (TVA à {{ (contrat.tva * 100) | number_format(2, ',', ' ') }}%)</small></p>
                        <p class="lead text-center">{{ contrat.nbFactures }} facture(s)<small style="font-size:small">&nbsp;(associés à un passage)</small></p>
                    </div>
                    <div class="col-xs-5">
                        Fréquence de paiement : <strong>{{ contrat.frequencePaiementLibelle }}</strong><br />
                    	Numéro de commande : <strong>{% if contrat.referenceClient %}{{ contrat.referenceClient }}{% else %}Non défini{% endif %}</strong><br />
                        Destinataire de la facture : <strong>{% if contrat.factureDestinataire %}{{ contrat.factureDestinataire }}{% else %}{{ contrat.societe.raisonSociale }}{% endif %}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if(contrat.isEnAttenteAcceptation() and contrat.contratPassages | length == 0 ) %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Lieux de passage : </h3></div>
        <ul class="list-group">
            {% for etablissement in contrat.getEtablissements %}
                <li class="list-group-item"><i class="mdi mdi-{{ etablissement.icon }} mdi-lg"></i> <span><a href="{{ path('passage_etablissement', { 'id': etablissement.id }) }}">{{ etablissement.intitule }}</a></span></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Nomenclature {% if(editionMode is defined) %}<a class="btn btn-default btn-xs pull-right" href="{{ path('contrat_modification', {'id': contrat.id })}}">Modifier</a>{% endif %}</h3></div>
    <div class="panel-body">
        {% if (contrat.nomenclature) %}
        {{ contrat.getHtmlNomenclature() | raw | nl2br }}
        {% else %}
        <em>Aucune nomenclature définie</em>
        {% endif %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Commentaire</h3></div>
    <div class="panel-body">
        {% if (contrat.commentaire) %}
        {{ contrat.commentaire | nl2br }}
        {% else %}
        <em>Aucun commentaire défini</em>
        {% endif %}
    </div>
</div>

{% if(contrat.isEnAttenteAcceptation() and contrat.contratPassages | length == 0 ) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Planning prévisionnelles des interventions (avec une date de début de contrat au {{ contrat.dateDebut | date("d/m/Y")}})</h3>
        </div>
        <div id="contrat-{{ contrat.id }}-passages" class="list-group">
            {% if contrat.previsionnel|length > 0 %}
                    {% for date,passage in contrat.previsionnel %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-1">
                                    <span style="cursor: help;" title=""
                                        data-toggle="tooltip"
                                        class="badge badge-default {% if(passage.mouvement_declenchable is defined and passage.mouvement_declenchable) %}badge-inverse{% endif %} btn-xs">{{ (loop.length - loop.index) + 1 }}</span>
                                    {% if(passage.audit) %}&nbsp;<span class="glyphicon glyphicon-user text-danger" data-toggle="tooltip" data-placement="top" title="Audit {{ passage.audit }}">&nbsp;</span>{% endif %}
                                </div>
                                <div class="col-xs-3">
                                    prévu le <strong>{{ date|date("d/m/Y") }}</strong>
                                </div>
                                <div class="col-xs-3">
                                    {% for prestation in passage.prestations %} {% if(prestation.wordToPicto)
                                    %} <span class="step size-24" title="{{  prestation.nomToString }}"
                                        data-toggle="tooltip"> <i class="mdi-{{prestation.wordToPicto}}"
                                        style="cursor: pointer;">&nbsp;</i></span> {%else%} <span
                                        class="label label-xs label-primary">{{ prestation.nomToString }}</span>
                                    {%endif%} {% endfor %}
                                </div>
                                <div class="col-xs-1">
                                    <span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{contrat.getDureePassageFormat() }}</span>
                                </div>
                                <div class="col-xs-4">
                                    {% if contrat.technicien %}
                                    <ul class="list-inline list-unstyled">
                                        <li><i class="mdi mdi-face mdi-lg"></i>&nbsp;{{ contrat.technicien.identite}}</li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            {% else %}
                <p class="bg-warning" style="padding: 15px;">La saisie ne permet pas d'établir un prévisionnel d'intervention pour ce contrat, veuillez choisir un nombre de prestations <a href="{{ path('contrat_modification', {'id': contrat.getId()}) }}" class="btn btn-default btn-xs pull-right">modifier</a>
                </p>
            {% endif %}
        </div>
    </div>
{%  else %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Lieux de passage et interventions</h3></div>
        <ul class="list-group">
            {% for etablissement in contrat.getEtablissements %}
                <div class="list-group-item">
                    <div class="row">
                		<div class="col-xs-10">
                			<i class="mdi mdi-{{ etablissement.icon }} mdi-lg"></i>
                			<a href="{{ path('passage_etablissement', { 'id': etablissement.id }) }}">{{ etablissement.getNom(false) }} - {{ etablissement.adresse.intitule }}</a>
                        </div>
                        <div class="col-xs-2">
                        	<a href="{{ path('passage_creation', {'id_contrat': contrat.id, 'id_etablissement': etablissement.id })}}" class="btn btn-block btn-xs btn-default">Créer un passage</a>
                        </div>
                    </div>
                </div>
                {% if contrat.getPassagesEtablissementNode(etablissement) %}
                {{ include('passage/listingPassages.html.twig', { 'passages': contrat.getPassagesEtablissementNode(etablissement).getPassagesDateSorted(true), 'origine': "contrat" }) }}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Produits {% if(editionMode is defined) %}<a class="btn btn-default btn-xs pull-right" href="{{ path('contrat_modification', {'id': contrat.id })}}">Modifier</a>{% endif %}</h3></div>
    {% if(contrat.produits | length ) %}
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
            <tr>
                <th class="col-xs-2 text-center">  <strong>Nombre prévu</strong></th>
                <th class="col-xs-2 text-center">  <strong>Nb premier passage</strong></th>
                <th class="col-xs-4">Nom produit</th>
                <th class="col-xs-2">Prix d'achat</span></th>
                <th class="col-xs-2">Prix de vente prestation</span></th>
            </tr>
        </thead>
        <tbody>
            {% for produit in contrat.produits %}
                <tr>
                    <td class="col-xs-2 text-right">  <strong>{{ produit.nbTotalContrat }}</strong></td>
                    <td class="col-xs-2 text-right">  <strong>{{ produit.nbPremierPassage }}</strong></td>
                    <td class="col-xs-4">{{ produit.nom }} {% if(produit.conditionnement) %}<small class="text-muted">({{ produit.conditionnement }})</small>{% endif %}</td>
                    <td class="col-xs-2 text-right">{{ "%0.2f" | format(produit.prixHt) }}&nbsp;€&nbsp;HT</span></td>
                    <td class="col-xs-2 text-right">{{ "%0.2f" | format(produit.prixPrestation) }}&nbsp;€&nbsp;HT</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="panel-body">
        Aucun produit défini
    </div>
    {% endif %}
</div>

{% if (contrat.isFini) %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Récapitulatif passage</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <table class="table">
          <thead><tr><th class="col-xs-10">Type</th><th class="col-xs-2 text-right">Durée</th></tr></thead>
          <tbody>
              <tr>
                <td>Temps de passage prévu</td>
                <td class="text-right">{{ contrat.getDureeFormatee(contrat.getDureePassage * contrat.getNbPassagesPrevu) }}</td>
              </tr>
              <tr>
                <td>Temps de passage effectué</td>
                <td class="text-right">{{ contrat.getDureePassagePrevu }}</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-6">
        <table class="table">
          <thead><tr><th class="col-xs-8">Produit</th><th class="col-xs-2 text-right">Prévu</th><th class="col-xs-2 text-right">Utilisé</th></tr></thead>
          <tbody>
            {% for produit in recapProduits %}
              <tr>
                <td>{{ produit.nom }}</td>
                <td class="text-right">{{ produit.prevu }}</td>
                <td class="text-right">{{ produit.utilise }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if(factureMode is defined) %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Factures {% if contrat.nbFactures == 0 %}à créer manuellement car <strong>non rattachées aux passages</strong>{% endif %}</h3></div>
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th class="text-right">Date</th>
                <th class="text-center">Facture</th>
                <th class="text-right">Montant HT</th>
            </tr>
        </thead>
        <tbody>
        {% if(not contrat.mouvements | length and not factures | length and contrat.nbFactures) %}
        <tr>
            <td colspan="4"><em>Aucune facture</em></td>
        </tr>
        {% endif %}
        {% set total=0 %}
        {% for facture in factures %}
            {% for mouvement in facture.lignes %}
                <tr>
                    <td>{% if mouvement.quantite < 0 %}{{ mouvement.libelle|replace({'Facture': 'Avoir'}) }}{% else %}{{ mouvement.libelle }}{% endif %}</td>
                    <td class="text-right">{{ facture.dateFacturation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</td>
                    <td class="text-center"><a href="{{ path('facturable_pdf', {'document': facture.id })}}"><span class="glyphicon glyphicon-file"></span>&nbsp;{{ facture.numeroFacture }}</a></td>
                    {% set montant = mouvement.montantHT * mouvement.quantite %}
                    {% set total = total + montant %}
                    <td class="text-right">{{ "%0.2f" | format(montant) }} €</td>
                </tr>
            {% endfor %}
        {% endfor %}
        {% for mouvement in contrat.mouvements if not mouvement.facture %}
            <tr>
                <td>{{ mouvement.libelle }}</td>
                <td class="text-right"></td>
                <td class="text-center">En attente de génération</td>
                {% set montant = mouvement.prixUnitaire %}
                {% set total = total + montant %}
                <td class="text-right">{{ "%0.2f" | format(montant) }} €</td>
            </tr>
        {% endfor %}
        </tbody>
        {% set mouvement = contrat.buildMouvement() %}
        {% if(mouvement) %}
        <tfoot style="opacity: 0.6">
            <tr>
                <td>{{ mouvement.libelle }}</td>
                <td class="text-right"></td>
                <td class="text-center"><a onclick="return confirm('Etes vous sûr de forcer la genération d\'un mouvement de facture directement (sans le faire via un passage) ?');" href="{{ path('contrat_generation_mouvement', {'id': contrat.id})}}">Générer un mouvement</a></td>
                <td class="text-right">{{ "%0.2f" | format(mouvement.prixUnitaire) }} €</td>
            </tr>
        </tfoot>
        {% endif %}
        {% if contrat.nbFactures == 0 %}
        <tfoot>
          <tr>
            <td>Facture à créer</td>
            <td class="text-right"></td>
            <td class="text-center"><a onclick="return confirm('Etes vous sûr de vouloir préparer une facture qui sera à envoyer plus tard ? ');" href="{{ path('facture_creation', {'societe': contrat.societe.id,'type': 'facture', 'contratId' : contrat.id})}}">Préparer une facture</a></td>
            <td class="text-right"></td>
          </tr>
        </tfoot>
        {% endif %}
        <td>Total </td>
        <td></td>
        <td></td>
        <td class="text-right">{{ "%0.2f" | format(total) }} €</td>
    </table>
</div>
{% endif %}
