{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}Contrat n°{{ contrat.numeroArchive }} {{ societe.raisonSociale }}{% endblock title %}
{% block body %}
    <div id="wrapper">
        <ol class="breadcrumb">
            <li><a href="{{ path('contrat') }}">Contrat</a></li>
            <li><a href="{{ path('contrats_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
            <li><a href="{{ path('contrat_visualisation',{ 'id' : contrat.id }) }}">&nbsp;Contrat&nbsp;{{ contrat.numeroArchive }}</a></li>
            <li>Transfert</li>
        </ol>
        <div>&nbsp;</div>
        {% if not complete %}
        <div class="alert alert-danger" role="alert">
        Veuillez compléter le formulaire
        </div>
        {% endif %}
{{ form_start(form, {'attr': {'onsubmit': 'return confirm("Etes-vous sur de bien vouloir transférer le contrat ?");'}}) }}
<div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Transférer la société</h3>
            </div>
            <div class="panel-body  form-horizontal">
              <div class="row">
              	<div class="col-xs-5">{{ societe.raisonSociale }} <small>{{societe.adresse.intitule }}</small></div>
              	<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span></div>
              	<div class="col-xs-6">
	            	{{ form_errors(form.societe) }}
	            	{{ form_widget(form.societe, {'attr': {'data-url': path('societe_search'), 'data-etablissements': path('etablissements_societe', {'societe': '__societe_id__'})}}) }}
                </div>
              </div>
        </div>
      </div>
  </div>
</div>

<div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Transférer les lieux de passage et interventions</h3>
            </div>
            <div class="panel-body  form-horizontal" id="input-etablissements">
                {% for etablissement in contrat.etablissements %}
              	<div class="row">
              	<div class="col-xs-5">{{ etablissement.raisonSociale }} <small>{{etablissement.adresse.intitule }}</small></div>
              	<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span></div>
                <div class="col-xs-6">
	            	{{ form_errors(form[etablissement.id]) }}
	            	{{ form_widget(form[etablissement.id]) }}
              	</div>
            	</div>
            	{% if not loop.last %}
              	<hr />
              	{% endif %}
              	{% endfor %}
        </div>
      </div>
  </div>
</div>



<div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Factures</h3>
            </div>
            <div class="panel-body  form-horizontal">
            	<div class="row">
                <div class="col-xs-5">{{ factures|length }} Facture{% if factures|length > 1 %}s{% endif %}{% if factures|length > 0 %} :{% endif %}</small><ul class="list-unstyled" style="margin-top: 10px; margin-left: 10px;">{% for facture in factures %}<li><a href="{{ path('facturable_pdf', {'document': facture.id })}}"><span class="glyphicon glyphicon-file"></span> {% if facture.isDevis %}Devis n° {{ facture.numeroDevis }}{% elseif(facture.isAvoir) %}Avoir n° {{ facture.numeroFacture }}{% else %}Facture n° {{ facture.numeroFacture }}{% endif %}</a></li>{% endfor %}</ul></div>
              	<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span></div>
            	<div class="col-xs-6">
                        {{ form_row(form.factures) }}
                </div>
                </div>
            </div>
        </div>
      </div>
  </div>

        <div class="row">
            <div class="text-left col-sm-6">
                <a href="{{ path('contrat_visualisation',{ 'id' : contrat.id }) }}" class="btn btn-default">Annuler</a>
            </div>
            <div class="text-right col-sm-6">
            <button type="submit" class="btn btn-success">Transférer</button>
            </div>
        </div>
{{ form_end(form) }}
	</div>
{% endblock %}
