{% if attachement.isPdf %}
    <a class="btn btn-sm btn-default" href="{{ path('attachement_download', { id: attachement.id })}}"><span class="glyphicon glyphicon-file"></span> PDF</a>
{% elseif attachement.isImage %}
  <button class="btn btn-sm btn-default attachment-loader" data-attachment="{{ attachement.id }}"><span class="glyphicon glyphicon-picture"></span> Voir la photo</button>
 {% else %}
    <a class="btn btn-sm btn-default" href="{{ path('attachement_download', { id: attachement.id })}}"><span class="glyphicon glyphicon-download-alt"></span></a>
 {% endif %}
