<tr class="{% if(facture.paye or facture.isAvoir) %} success
    {% elseif(facture.isRedressee()) %} warning
    {% elseif(facture.isEnRetardPaiement()) %} danger {% endif %}">
            <td>{{ ((facture.isDevis) ? facture.dateDevis : facture.dateFacturation) | localizeddate("medium", "none", null, null, "d MMMM yyyy") }} {% if(facture.numeroDevis) %} <span class="pull-right"><i class="mdi mdi-local-shipping"></i></span> {% endif %}</td>
            <td><a href="{{ path('facturable_pdf', {'document': facture.id })}}">
                    <span class="glyphicon glyphicon-file"></span> {% if facture.isDevis %}Devis n° {{ facture.numeroDevis }}{% elseif(facture.isAvoir) %}Avoir n° {{ facture.numeroFacture }}{% elseif(facture.numeroFacture) %}Facture n° {{ facture.numeroFacture }}{% else %}Facture prévue<a class="btn btn-link btn-xs"
                    href="{% if facture.getContrat() %}{{ path('facture_creation', {'societe': facture.societe.id,'type': 'facture', 'id': facture.id, 'contratId' : facture.getContrat().id}) }}
                          {% else %}{{ path('facture_creation', { 'societe': facture.societe.id, 'type': 'facture', 'id': facture.id })}}
                          {% endif %}"><span class="glyphicon glyphicon-pencil"></span>
                </a>
        {% endif %}</a>

            </td>
            <td>
                <a data-toggle="tooltip" title="{% for ligne in facture.lignes %}{{ (ligne.libelle) ? ligne.libelle~"\n" : "Aucun" }}{% endfor %}" href="{{ path('facturable_pdf', {'document': facture.id })}}">{{ facture.lignes | length}} ligne(s)</a>
                {% for origine in facture.origines %}
                  - <a data-toggle="tooltip" title="{% for etab in origine.etablissements %}{{ etab }}<br/>{% endfor %}"
                      href="{{ path('contrat_visualisation', {'id': origine.id })}}">Contrat n° {{ origine.numeroArchive }}</a>
                {% endfor %}
                {% if(facture.isEnRetardPaiement() and facture.relanceCommentaire) %}
                  &nbsp;<a href="{{ path("factures_retard_societe", { 'id' : facture.societe.id }) }}"><span style="cursor: pointer;" data-toggle="tooltip" title="{{ facture.relanceCommentaire }}" class="pull-right label label-xs label-danger"><span class="glyphicon glyphicon-info-sign"></span></span></a>
                {% endif %}
            </td>
            <td class="col-xs-1">{{ facture.dateLimitePaiement | localizeddate("short", "none", null, null, "dd/MM/Y")  }}</td>
            <td class="text-right">{{ "%0.2f" | format(facture.montantTTC)  }}&nbsp;€</td>
            <td class="text-right {% if facture.isDevis %}active{% endif %}">
            {% if facture.isFacture %}
              {% if(facture.isAvoir) %}
                {% if(facture.getAvoirPartielRemboursementCheque()) %}
                  <span data-toggle="tooltip" title="Avoir sur facture {{ facture.origineAvoir.numeroFacture }} avec remboursement par chèque" class="pull-left label label-xs label-danger">C</span>&nbsp;
                  <span class="text-muted">{{ "%0.2f" | format(facture.montantTTC)  }}&nbsp;€</span>
                {% else %}
                  <span data-toggle="tooltip" title="Avoir{% if(facture.origineAvoir) %} {{ facture.origineAvoir.numeroFacture }}{% endif %}" class="pull-left label label-xs label-warning">A</span>&nbsp;
                  <span class="text-muted">-</span>
                {% endif %}
              {% elseif(facture.isRedressee) %}
                <span data-toggle="tooltip" title="{{ facture.avoir }}" class="pull-left label label-xs label-warning">R</span>
                &nbsp;<span class="text-muted">{{ "%0.2f" | format(facture.montantPaye)  }}&nbsp;€</span>
              {% else %}
                <span class="text-muted">{{ "%0.2f" | format(facture.montantPaye)  }}&nbsp;€</span>
              {% endif %}
            {% endif %}
          </td>
          <td class="col-xs-1 text-right">
            {% if not facture.isAvoir %}
              {% if facture.montantAPayer < 0 %}<span class="label label-info" data-toggle="tooltip" title="Trop perçu {{ "%0.2f" | format(facture.montantAPayer*-1) }} €">{% endif %}
                <span class="{% if facture.montantAPayer >= 0 %}text-muted{% endif %}">{{ "%0.2f" | format(facture.montantAPayer) }}&nbsp;€</span>
              {% if facture.montantAPayer < 0 %}</span>{% endif %}
            {% endif %}
          </td>
            <td class="text-left">
              {% if facture.isDevis or (facture.numeroFacture and facture.isEditable) or (not facture.isAvoir and not facture.isRedressee and facture.numeroFacture) %}
                <div class="btn-group">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Actions
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="actionButton">
                    {% if facture.isDevis %}
                        <li><a href="{{ path('devis_creation', { 'societe': societe.id, 'id': facture.id })}}">A déplacer Modifier le devis ???</a></li>
                        <li><a href="{{ path('facture_creation', { 'societe': societe.id, 'id': facture.id })}}">Créer la facture</a></li>
                    {% else %}
                            {% if(facture.numeroFacture and facture.isEditable) %}
                              <li>  <a href="{{ path('facture_creation', { 'societe': societe.id, 'type': 'facture', 'id': facture.id })}}">Modifier {% if(facture.isAvoir) %}l'avoir{% else %}la facture{% endif %}</a></li>
                            {% endif %}
                            {% if(not facture.isAvoir) %}
                              {% if(not facture.iscloture) %}
                                <li><a onclick="return confirm('Êtes vous sûr de vouloir cloturer cette facture ?')" href="{{ path('facture_cloturer', {'id': facture.societe.id, 'factureId': facture.id }) }}">Cloturer les paiements</a></li>
                              {% endif %}
                                <li><a onclick="return confirm('Êtes vous sûr de vouloir décloturer cette facture ?')" href="{{ path('facture_decloturer', {'id': facture.societe.id, 'factureId': facture.id }) }}">Décloturer (remettre les paiements à 0)</a></li>
                                {% if not facture.isRedressee %}
                                  <li>
                                    <a onclick="return confirm('Êtes vous sûr de vouloir faire un avoir partiel sur cette facture ?')"  href="{{ path('facture_avoir', { 'id': societe.id, 'type': 'facture', 'factureId': facture.id , 'mouvement' : "0" })}}">Créer un avoir partiel</a>
                                  </li>
                                  <li>
                                    <a onclick="return confirm('Êtes vous sûr de vouloir faire un avoir partiel remboursé par chèque sur cette facture ?')"  href="{{ path('facture_avoir', { 'id': societe.id, 'type': 'facture', 'factureId': facture.id , 'mouvement' : "0", 'remboursement': "1" })}}">Créer un avoir partiel avec remboursement par chèque</a>
                                  </li>
                                  <li><a onclick="return confirm('Êtes vous sûr de vouloir annuler la facture et générer un avoir ?')"  href="{{ path('facture_avoir', { 'id': societe.id, 'type': 'facture', 'factureId': facture.id , 'mouvement' : "1" })}}">Annuler la facturation (donnera lieu à une nouvelle facture)</a></li>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                  </ul>
                </div>
              {% endif %}
              {% if not facture.numeroFacture and not facture.isDevis %}
                <a class="btn btn-default btn-xs " href="{{ path('facture_en_attente_facturer', { 'factureId': facture.id }) }}">Facturer</a>
              {% endif %}
            </td>
        </tr>
