{% set _menu_active = 'paiementsRetard' %}
{% extends 'base.html.twig' %}

{% block title %}Relances et retard de Paiements{% endblock title %}

{% block body %}

	<ol class="breadcrumb hide-print">
		<li><a href="{{ path('factures_retard') }}">Factures en retard de paiements</a></li>
	</ol>

	<div class="row hide-print">
	  <div class="col-xs-12">
	    <h3>{{ facturesEnRetard | length }} factures en retard de paiements </h3>
	  </div>
	</div>
	{{ form_start(formFacturesARelancer) }}
	<br/><br/>
	<div class="row hide-print">
		<div class="col-xs-12">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Critères factures en retard de paiements</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6" id="searchable" data-type="societe" data-url="{{ path('recherche_societe')  }}" data-target="0">
							{{ form_label(formFacturesARelancer.societe) }}
							{{ form_errors(formFacturesARelancer.societe) }}
							{{ form_widget(formFacturesARelancer.societe) }}
							</div>
							<div class="col-xs-6">
									{{ form_label(formFacturesARelancer.nbRelances) }}
								{{ form_errors(formFacturesARelancer.nbRelances) }}
								{{ form_widget(formFacturesARelancer.nbRelances) }}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
							{{ form_label(formFacturesARelancer.dateFactureBasse) }}
							{{ form_errors(formFacturesARelancer.dateFactureBasse) }}
							{{ form_widget(formFacturesARelancer.dateFactureBasse) }}
							</div>
							<div class="col-xs-6">
								{{ form_label(formFacturesARelancer.dateFactureHaute) }}
							{{ form_errors(formFacturesARelancer.dateFactureHaute) }}
							{{ form_widget(formFacturesARelancer.dateFactureHaute) }}
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-xs-6">
								{{ form_label(formFacturesARelancer.commercial) }}
							{{ form_errors(formFacturesARelancer.commercial) }}
							{{ form_widget(formFacturesARelancer.commercial) }}
							</div>
							<div class="col-xs-6 text-right">
								<label class="control-label">&nbsp;</label><br />
									<a class="btn btn-default" href="{{ path('factures_retard') }}"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Ré-initialiser</a>&nbsp;&nbsp;
								{{ form_widget(formFacturesARelancer.save) }}
							</div>
					</div>
			</div>
		</div>
</div>
</div>
{{ form_end(formFacturesARelancer) }}


{{ form_start(formRelance) }}

<div class="row hide-print" {% if ((nbRelances is null) or (nbRelances == -1)) %} readonly="readonly" disabled="disabled" style="opacity:0.5;" {% endif %} >
    <div class="col-xs-3 pull-right">
      <div class="input-group">
          <span class="input-group-btn">
						{% if ((nbRelances is null) or (nbRelances == -1)) %}
						<div class="input-group">
          		<span class="input-group-btn">
						      <a class="btn-loading btn btn-success pull-right btn" href="#">Relancer</a>
							</span>
      			</div>
						{% else %}
            {{ form_widget(formRelance.relancer,  {'attr': {'class': 'btn-loading btn btn-success pull-right', 'data-loading-text': "Relances en cours de génération..."}}) }}
						{% endif %}
						</span>
      </div>
    </div>
</div>
<br/>
<div class="row">
	{% if commercial %}<h3 class="show-print">Clients {{ commercial.identite }}</h3>{% endif %}
	{% for factureEnRetard in facturesEnRetard %}
    	<div class="row show-print">
        	<div class="col-sm-3">
        		{{ factureEnRetard.dateFacturation | localizeddate("medium", "none", null, null, "d MMM yyyy") | capitalize }}<br />
        		Facture n° <strong>{{ factureEnRetard.numeroFacture }}</strong>{% if(factureEnRetard.isRedressee()) %}&nbsp;<span data-toggle="tooltip" title="{{ factureEnRetard.avoir }}" class="label label-xs label-warning">R</span>{% endif %}<br />
        		{% if factureEnRetard.nbRelance > 1 %}<strong><small>{{ factureEnRetard.nbRelance }} relances</small></strong>{% elseif factureEnRetard.nbRelance > 0 %}<strong><small>1 relance</small></strong>{% else %}0 relance{% endif %}
        	</div>
            <div class="col-sm-6">
            	<strong>{{ factureEnRetard.societe.raisonSociale }}</strong><br />
            	<small>{{ factureEnRetard.societe.adresseComplete }}</small><br />
				{% if (factureEnRetard.societe.contactCoordonnee.telephoneFixe is defined and factureEnRetard.societe.contactCoordonnee.telephoneFixe)%}
	            	<small><i class="glyphicon glyphicon-earphone"></i>&nbsp;{{ factureEnRetard.societe.contactCoordonnee.telephoneFixe }}</small>&nbsp;
	            {%endif%}
	            {% if (factureEnRetard.societe.contactCoordonnee.telephoneMobile is defined and factureEnRetard.societe.contactCoordonnee.telephoneMobile)%}
	                <small><i class="glyphicon glyphicon-phone"></i>&nbsp;{{ factureEnRetard.societe.contactCoordonnee.telephoneMobile }}</small>&nbsp;
	            {% endif %}
				{% if factureEnRetard.societe.contactCoordonnee.email %}
					<small>{{ factureEnRetard.societe.contactCoordonnee.email }}</small>
				{% endif %}
			</div>
            <div class="col-sm-3">
            	Payé {{ "%0.2f" | format(factureEnRetard.montantPaye)  }}&nbsp;<small>€</small>&nbsp;/&nbsp;<strong>{{ "%0.2f" | format(factureEnRetard.montantTTC)  }}</strong>&nbsp;<small>€&nbsp;TTC</small></span><br />
            	<small>{{ factureEnRetard.relanceCommentaire  }}</small>
            </div>
        </div>
	{% endfor %}
</div>

  <div class="row hide-print">
    <div class="col-xs-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-xs-1">Date</th>
              <th class="col-xs-3">Client</th>
              <th class="col-xs-2">Facture</th>
              <th class="col-xs-2">Montant Total / Payé</th>
              <th class="col-xs-2">Commentaire</th>
              <th class="col-xs-1">Relance(s)</th>
              <th class="col-xs-1"></th>
            </tr>
          </thead>
          <tbody>
            {% for factureEnRetard in facturesEnRetard %}
            {% set idCheckbox = factureEnRetard.id %}
            <tr style="{{ factureEnRetard.getRelanceColor }}" >
              {{factureEnRetard.isDevis }}
              <td><small>{{ factureEnRetard.dateFacturation | localizeddate("medium", "none", null, null, "d MMM yyyy") | capitalize }}</small></td>
              <td>
								<small><a href="{{ path('facture_societe', {'id': factureEnRetard.societe.id }) }}">{{ factureEnRetard.societe.raisonSociale }}</a></small>
								{% if factureEnRetard.societe.contactCoordonnee.email %}
									<br /><small><a href="mailto:{{ factureEnRetard.societe.contactCoordonnee.email }}">{{ factureEnRetard.societe.contactCoordonnee.email }}</a></small>
								{% endif %}
								{% if (factureEnRetard.societe.contactCoordonnee.telephoneFixe is defined and factureEnRetard.societe.contactCoordonnee.telephoneFixe)%}
	                                <br /><small><i class="glyphicon glyphicon-earphone"></i>&nbsp;{{ factureEnRetard.societe.contactCoordonnee.telephoneFixe }}</small>
	                            {%endif%}
	                            {% if (factureEnRetard.societe.contactCoordonnee.telephoneMobile is defined and factureEnRetard.societe.contactCoordonnee.telephoneMobile)%}
	                                <br /><small><i class="glyphicon glyphicon-phone"></i>&nbsp;{{ factureEnRetard.societe.contactCoordonnee.telephoneMobile }}</small>
	                            {% endif %}
							</td>
              <td>
								<a href="{{ path('facturable_pdf', {'document': factureEnRetard.id })}}"><span class="glyphicon glyphicon-file"></span>&nbsp;Facture n° {{ factureEnRetard.numeroFacture }}</a>
								{% if(factureEnRetard.isRedressee()) %}
								&nbsp;<span data-toggle="tooltip" title="{{ factureEnRetard.avoir }}" class="label label-xs label-warning">R</span>
								{% endif %}
							</td>
              <td class="text-center">
								<span class="text-right">{{ "%0.2f" | format(factureEnRetard.montantTTC)  }}&nbsp;€</span>&nbsp;/&nbsp;<span class="text-left">{{ "%0.2f" | format(factureEnRetard.montantPaye)  }}&nbsp;€</span>
							</td>
							<td>
								<textarea rows="3" data-url="{{ path('facture_relance_commentaire_add', {'id': factureEnRetard.id }) }}" data-id="{{factureEnRetard.id}}" class="input-inline form-control commentaire" id="facture_retard_commentaire_ajax" >{{ factureEnRetard.relanceCommentaire }}</textarea>
							</td>
              <td class="text-left">
								{% if factureEnRetard.has1ereRelance %}
										<a data-toggle="tooltip"
										 title="{% if(factureEnRetard.getRelanceObjNumero(1)) %}1ère relance du {{ factureEnRetard.getRelanceObjNumero(1).dateRelance | localizeddate("medium", "none", null, null,  "dd/MM/yyyy") }} {% else %}1ère relance (non datée){% endif %}"
										 href="{{ path('facture_relance_pdf', {'id': factureEnRetard.id , 'numeroRelance': 1 })}}"><span class="glyphicon glyphicon-file text-info"></span></a>&nbsp;
								{% endif %}
								{% if factureEnRetard.has2ndRelance %}
									<a data-toggle="tooltip"
									title="{% if(factureEnRetard.getRelanceObjNumero(2)) %}2nd relance du {{ factureEnRetard.getRelanceObjNumero(2).dateRelance | localizeddate("medium", "none", null, null,  "dd/MM/yyyy") }} {% else %}2nd relance (non datée){% endif %}"
								  href="{{ path('facture_relance_pdf', {'id': factureEnRetard.id , 'numeroRelance': 2 })}}"><span class="glyphicon glyphicon-file text-warning"></span></a>&nbsp;
								{% endif %}
								{% if factureEnRetard.has3emeRelance %}
									<a data-toggle="tooltip"
									title="{% if(factureEnRetard.getRelanceObjNumero(3)) %}mise en demeure avec AR du {{ factureEnRetard.getRelanceObjNumero(3).dateRelance | localizeddate("medium", "none", null, null,  "dd/MM/yyyy") }}{% else %}mise en demeure avec AR (non datée){% endif %}"
									href="{{ path('facture_relance_pdf', {'id': factureEnRetard.id , 'numeroRelance': 3 })}}"><span class="glyphicon glyphicon-file text-danger"></span></a>&nbsp;
								{% endif %}
							</td>
              <td class="text-center">
								<div class="row" >
										<div class="col-xs-6" style="padding-top:6px;">
											<a data-toggle="tooltip" title="cloturer" href="{{ path('facture_cloturer', {'id': factureEnRetard.societe.id, 'factureId': factureEnRetard.id, 'retour':'relance' }) }}" class="btn btn-default btn-xs relance_lien_cloturer"><span class="glyphicon glyphicon-check"></span>&nbsp;</a>
										</div>
										<div class="col-xs-6 text-left">
	                    {% set fieldFrom = attribute(formRelance,idCheckbox) %}
	                    {{ form_widget(fieldFrom) }}
										</div>
								</div>
								{% if factureEnRetard.inPrelevement %}<br/><span class="label label-warning">Prélèvement bancaire</span>{% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="row">
          <div class="col-xs-12 text-right">
            <strong>Total : {{ facturesEnRetard | sommeRetards }} €</strong>
          </div>
        </div>
        </div>
      </div>
      <div class="hide-print">
      {{ form_end(formRelance) }}
		</div>
			{% if pdf %}
			<div id="relancePdfPopup" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">PDF des relances générées</h4>
			      </div>
			      <div class="modal-body">
			        <p><a data-toggle="tooltip" data-original-title="Télécharger les relances massives" href="/pdf/relances/{{pdf}}">Cliquez ici pour obtenir le pdf des relances générées : <span class="glyphicon glyphicon-file"></span></a></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			      </div>
			    </div>

			  </div>
			</div>
			{% endif %}
{% endblock %}
