{% set _menu_active = 'facture' %}
{% extends 'base.html.twig' %}

{% block title %}Factures {{ societe.raisonSociale }}{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('facture') }}">Facture</a></li>
        <li><a href="{{ path('facture_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
    </ol>

    {{ include('societe/choixForm.html.twig', {'urlTarget': path('facture_societe', {'id': '_id_'})}) }}

    <h3>
        Mouvements à facturer
        <div class="col-xs-8 pull-right text-right">
            <form action="{{ path('facture_societe_generation', { 'id': societe.id })}}" method="GET" class="form-inline">
                {% if(mouvements | length > 0) %}
                <span>{{ mouvements | length }} facture{% if(mouvements | length > 1) %}s{% endif %} à éditer :</span>
                {% endif %}
                <div class="form-group">
                    <div class="input-group">
                        <input {% if(mouvements | length == 0) %}disabled="disabled"{% endif %} data-provide="datepicker" class="form-control datepicker" type="text" value="{{ "now"|date("d/m/Y") }}" data-date-format="dd/mm/yyyy" required="required" name="dateFacturation" />
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <button {% if(mouvements | length == 0) %}disabled="disabled"{% endif %} class="btn btn-primary btn" type="submit">Facturer</button>
            </form>
        </div>
    </h3>
    {% if(mouvements | length > 0) %}
        <table style="margin-top: 20px;" class="table table-bordered">
            <thead>
                <tr>
                    <th>Document d'origine</th>
                    <th>Intitulé</th>
                    <th class="text-right">Montant HT</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mouvement in mouvements %}
                  {% if mouvement.document.id %}
                    <tr>
                        <td><a href="{{ path('contrat_visualisation', {'id': mouvement.document.id })}}">Contrat n° {{ mouvement.document.numeroArchive }}</a></td>
                        <td>{{ mouvement.libelle }}</td>
                        <td class="text-right">{{ "%0.2f" | format(mouvement.prixUnitaire)  }} €</td>
                        {% if mouvement.identifiant %}
                          <td class="text-center"><a onclick="return confirm('Êtes vous sûr de vouloir supprimer ce mouvement de facture ?')" href="{{ path('facture_defacturer', {'id': mouvement.document.id, 'identifiant': mouvement.identifiant}) }}"><span class="text-danger glyphicon glyphicon-remove"></span></a></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted"><i>Aucun mouvement</i></p>
    {% endif %}

{% if hasDevis %}
    <h3>Devis</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-xs-2">Date</th>
                <th class="col-xs-2">Document</th>
                <th class="col-xs-3">Contenu</th>
                <th class="col-xs-1">Écheance</th>
                <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
                <th class="col-xs-1 text-right">Restant</th>
                <th class="col-xs-1 text-right"></th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
             {% if facture.isDevis %}
              {{ include('facture/factureLigne.html.twig', {'facture': facture, 'societe' : societe}) }}
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
{% endif %}
    <h3>Liste des Factures <strong>non cloturées</strong>
                      <div class="btn-group pull-right">
                        <a href="{{ path('facture_creation', { 'societe': societe.id } ) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Créer une facture</a></div>
                        <div class="btn-group pull-right">
                          <a data-toggle="modal" data-target="#exportSocieteForm" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-usd"></span> Export des factures
                          </a>&nbsp;
                        </div>
                      </h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-xs-2">Date</th>
                <th class="col-xs-2">Document</th>
                <th class="col-xs-3">Contenu</th>
                <th class="col-xs-1">Écheance</th>
                <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
                <th class="col-xs-1 text-right">Restant</th>
                <th class="col-xs-1 text-right"></th>
            </tr>
        </thead>
        <tbody>
            {% set totalRestant = 0.0 %}
            {% for facture in factures %}
             {% if not facture.isDevis and not (facture.paye or facture.isAvoir or facture.isRedressee) %}
                {% set totalRestant = totalRestant + facture.montantAPayer %}
              {{ include('facture/factureLigne.html.twig', {'facture': facture, 'societe' : societe}) }}
              {% endif %}
            {% endfor %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><strong>Total :</strong></td>
            <td class="text-right"><strong>{{ "%0.2f" | format(totalRestant) }}&nbsp;€</strong></td>
            <td></td>
        </tbody>
      </table>

      <h3>Autres Factures</h3>
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th class="col-xs-2">Date</th>
                  <th class="col-xs-2">Document</th>
                  <th class="col-xs-3">Contenu</th>
                  <th class="col-xs-1">Écheance</th>
                  <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                  <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
                  <th class="col-xs-1 text-right">Restant</th>
                  <th class="col-xs-1 text-right"></th>
              </tr>
          </thead>
          <tbody>
              {% for facture in factures %}
               {% if facture.paye or facture.isAvoir or facture.isRedressee %}
                  {{ include('facture/factureLigne.html.twig', {'facture': facture, 'societe' : societe}) }}
                {% endif %}
              {% endfor %}
          </tbody>
        </table>

                  <div class="btn-group pull-right">
                    <a data-toggle="modal" data-target="#exportSocieteForm" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-usd"></span> Export des factures</a>
                  </div>

                  <div  id="exportSocieteForm"  class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg" >
                          <div class="modal-content">
                              {{ form_start(exportSocieteForm) }}
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4>Export des factures de {{societe.raisonSociale}}</h4>
                              </div>
                                  <div class="modal-body form-horizontal">
                                          <div class="form-group">
                                              {{ form_errors(exportSocieteForm.dateDebut) }}
                                              {{ form_label(exportSocieteForm.dateDebut, "Date début (incluse)", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                                              <div class="col-xs-8">
                                                  {{ form_widget(exportSocieteForm.dateDebut) }}
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              {{ form_errors(exportSocieteForm.dateFin) }}
                                              {{ form_label(exportSocieteForm.dateFin, "Date fin (incluse)", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                                              <div class="col-xs-8">
                                                  {{ form_widget(exportSocieteForm.dateFin) }}
                                              </div>
                                          </div>
                                  </div>
                                  <div class="modal-footer">
                                      <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                             {% if exportSocieteForm.pdf is defined and exportSocieteForm.pdf %}

                                              <div class="col-xs-4 text-right">
                                              {{ form_row(exportSocieteForm.pdf) }}
                                            </div>
                                              <div class="col-xs-2 text-right">
                                                  <button class="btn btn-primary" type="submit">Exporter</button>
                                          </div>
                                          {% else %}
                                          <div class="col-xs-6 text-right">
                                             <button class="btn btn-primary" type="submit">Exporter le CSV</button>
                                          </div>
                                              {% endif %}

                                      </div>
                                  </div>
                                      {{ form_end(exportSocieteForm) }}
                              </div>
                          </div>
                        </div>
{% endblock %}
