{% for devis in devisAPlanifier|reverse(true) %}
<tr>
  <td>{{ devis.dateEmission | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}</td>
  <td><a href="{{ path('facturable_pdf', {'document': devis.id })}}">
      <a data-toggle="tooltip" title="{% for ligne in devis.lignes %}{{ (ligne.libelle) ? ligne.libelle~"\n" : "Aucun" }}{% endfor %}" href="{{ path('facturable_pdf', {'document': devis.id })}}"><span class="glyphicon glyphicon-file"></span> Devis</a></td>
  <td class="col-xs-1">
    <a href="{{ path('devis_societe', {'id': devis.societe.id}) }}" data-toggle="tooltip" title="Voir les devis de la societe">
      {{ devis.societe.raisonSociale}}
    </a>
  </td>
  <td class="text-right">{{  devis.dateAcceptation | localizeddate("medium", "none", null, null, "d MMMM yyyy")  }}</td>
  <td class="text-right">{{ "%0.2f" | format(devis.montantHT)  }} €</td>
  <td class="text-right">{{ "%0.2f" | format(devis.montantHT)  }} €</td>
  <td><a href='{{ path('devis_modification', {'id': devis.id}) }}'>Modifier ou planifier <span class="glyphicon glyphicon-edit"></span></a></td>
</tr>
{% endfor %}
