{% set _menu_active = 'erreurs' %}
{% extends 'base.html.twig' %}

{% block title %}Passages en erreurs{% endblock title %}

{% block body %}

	<ol class="breadcrumb hidden-print">
		<li><a href="{{ path('passage_erreurs') }}">Passages en erreurs</a></li>
    <li class="pull-right"><span onclick="print()" style="cursor: pointer">Imprimer la liste</span></li>
	</ol>

	{{ include('passage/listingPassages.html.twig', { 'passages': passages }) }}

{% endblock %}
