{% set _menu_active = 'passage' %}
{% extends 'base.html.twig' %}
{% block title %}Passages {{ etablissement.nom }}{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('passage') }}">Passage</a></li>
        <li><a href="{{ path('passage_societe',{ 'id' : etablissement.societe.id }) }}">&nbsp;{{ etablissement.societe.raisonSociale }} </small></a></li>
        <li><a href="{{ path('passage_etablissement',{ 'id' : etablissement.id }) }}">&nbsp;{{ etablissement.getNom(false) }}&nbsp;<small>{{etablissement.adresse.intitule }}</small></a></li>
    </ol>

    <div class="row hide-print">
        <div class="col-xs-12">
            {{ include('societe/choixForm.html.twig', {'urlTarget': path('passage_societe', {'id': '_id_', 'object': '_object_'}), 'autofocus': true })}}
        </div>
    </div>

    <div class="row" style="margin-top: 10px; height: 130px;">
        <div class="col-xs-8">
            <h3 style="margin-top: 0;"><i style="cursor: default;" class="mdi mdi-{{ etablissement.icon }} mdi-lg" title="{{ etablissement.type }}" data-toggle="tooltip" ></i> {{ etablissement.nom }} <small class="text-muted">({{ etablissement.raisonSociale }})</small></h3>
            <p class="lead">{{ etablissement.adresse.adresse }} {{ etablissement.adresse.codePostal }} {{ etablissement.adresse.commune }}</p>
            <p>
                {% if etablissement.contactCoordonnee.telephoneFixe or etablissement.contactCoordonnee.telephoneMobile or etablissement.contactCoordonnee.libelle %} <strong>Contact : </strong>{% endif %}{{ etablissement.contactCoordonnee.telephoneFixe }}{% if etablissement.contactCoordonnee.telephoneFixe and etablissement.contactCoordonnee.telephoneMobile %} / {% endif %}{{ etablissement.contactCoordonnee.telephoneMobile }}{% if  etablissement.contactCoordonnee.libelle %} ({{ etablissement.contactCoordonnee.libelle }}){% endif %}
            </p>
            {% if etablissement.commentaire or etablissement.commentairePlanification %}
                <p>
                    <strong>Commentaire de planification : </strong> <br/>{{ etablissement.commentairePlanification | nl2br }} <br/> <br/>
                    <strong>Commentaire pour les techniciens: </strong> <br/>{{ etablissement.commentaire | nl2br }} <br/>
                    <a href="{{ path('etablissement_modification', {'societe': etablissement.getSociete().getId(),'id': etablissement.getId()}) }}"><small>(Modifier)</small></a>
                </p>
            {% else %}
            <p>
                <a href="{{ path('etablissement_modification', {'societe': etablissement.getSociete().getId(),'id': etablissement.getId()}) }}"><small>Ajouter un commentaire</small></a>
            </p>
            {% endif %}
        </div>
        <div class="col-xs-4">
            {% set lat = '' %}
            {% set lon = '' %}
            {% if(etablissement.adresse.coordonnees is defined)  %}
                {% set lat = etablissement.adresse.coordonnees.lat  %}
                {% set lon = etablissement.adresse.coordonnees.lon  %}
            {%  endif  %}
            <div id="map" style="width: 100%; height: 130px;" data-geojson="{{ geojson | json_encode(constant('JSON_HEX_QUOT')) }}" data-lat="{{ lat }}" data-lon="{{ lon }}"></div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12 text-right">
            <div class="btn-group">
                <a href="{{ path('contrat_creation_etablissement', {'id': etablissement.getId()}) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Créer un nouveau contrat</a>
                <a href="{{ path('passage_creation_rapide', {'id': etablissement.getId()}) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Créer une intervention rapide (Bon bleu)</a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            {% for contratObj in contrats %}
                {% set contrat = contratObj.contrat %}
                {% set passagesEtablissement = contrat.getPassagesEtablissementNode(etablissement) %}

                    <div id="contrat-{{ contrat.id }}" class="panel panel-default
                         {% if(contrat.isAnnule) %} panel-danger
                         {% elseif(contrat.isFini) %}
                          {% if  contratObj.displayStatut == "REALISE_NON_TERMINE" %}
                            panel-info
                          {% else %}
                            panel-success
                          {% endif %}
                         {% elseif(contrat.isBrouillon or contrat.isEnAttenteAcceptation) %} panel-warning {% endif %}
                         "
                         >
                        <div data-toggle="collapse" data-parent="contrat-{{ contrat.id }}" href="#contrat-{{ contrat.id }}-passages" aria-controls="contrat-{{ contrat.id }}-passages" style="{% if(not contrat.isFini and not contrat.isResilie) %}background: #fff;{% else %}{% endif %} border-bottom: 0;" class="panel-heading">
                            <h4 style="cursor: pointer; margin-top: 0; margin-bottom: 0;">

                                {% if(contrat.isAnnule) %}
                                    Contrat résilié le {{ contrat.dateResiliation | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}
                                {% elseif (contrat.isEnCours) %}
                                    {% if  contratObj.displayStatut == "A_VENIR" %}
                                      Contrat à venir commençant le {{ contrat.dateDebut | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}
                                    {% else %}
                                      Contrat en cours jusqu'au {{ contrat.dateFin | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}
                                    {% endif %}
                                {% elseif (contrat.isEnAttenteAcceptation) %}
                                    Contrat en cours d'acceptation prévu jusqu'au {{ contrat.dateFin | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}
                                {% elseif (contrat.isFini) %}
                                  {% if  contratObj.displayStatut == "REALISE_NON_TERMINE" %}
                                    Contrat en cours et réalisé ({{ contrat.dateDebut | localizeddate("medium", "none", null, null, "d MMMM yyyy") | capitalize }} au {{ contrat.dateFin | localizeddate("medium", "none", null, null, "d MMMM yyyy") | capitalize }})
                                  {% else %}
                                    Contrat terminé ({{ contrat.dateDebut | localizeddate("medium", "none", null, null, "d MMMM yyyy") | capitalize }} au {{ contrat.dateFin | localizeddate("medium", "none", null, null, "d MMMM yyyy") | capitalize }})
                                  {% endif %}
                                {% elseif (contrat.isBrouillon) %}
                                    Contrat brouillon
                                {% endif %}
                                <small>n° {{ contrat.numeroArchive }}</small>&nbsp;
                                {% for prestation in contrat.prestations %}
                                    {% if(prestation.wordToPicto) %}
                                        &nbsp;<span class="step size-18" title="{{  prestation.nomToString }}" data-toggle="tooltip" >
                                            <i class="mdi-{{prestation.wordToPicto}}">&nbsp;</i>&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                                        {%else%}
                                        <span class="btn btn-xs label-primary">{{  prestation.nomToString }}&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                                    {%endif%}

                                {% endfor %}
                                <span class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
                               <span class="pull-right"><div title="Garantie initiale de {{ contrat.dureeGarantie }} mois<br />(expire le {% if contrat.dateExpirationGarantie.timestamp is defined %}{{ contrat.dateExpirationGarantie|date("d/m/Y") }}{% else %}{{ contrat.dateExpirationGarantie }}{% endif %})" data-html="true" data-toggle="tooltip">{% if(contrat.isSousGarantie) %}Garantie{% else %}<s>Garantie</s>{% endif %}&nbsp;&nbsp;&nbsp;</div></span>
                                <span class="pull-right">{% if(contratManager.isContratEnRetardPaiement(contrat)) %}<span class="glyphicon glyphicon-warning-sign" title="En retard de paiement" data-html="true" data-toggle="tooltip"></span>{% endif %}&nbsp;&nbsp;&nbsp;</span>
                            </h4>
                        </div>
                        <div id="contrat-{{ contrat.id }}-passages" class="collapse {% if(not contratObj.actif) %} out {% else%} in {% endif %} list-group">
                           <div class="list-group-item {% if(contrat.isAnnule) %} list-group-item-danger
                             {% elseif(contrat.isFini) %}list-group-item-success
                             {% elseif(contrat.isBrouillon or contrat.isEnAttenteAcceptation) %} list-group-item-warning {% endif %}
                             " >
                                <div class="row">
                                    <div class="col-xs-2">
                                    <a href="{{ path('contrat_visualisation', {'id': contrat.id })}}">Voir le contrat</a>
                                    </div>
                                    <div class="col-xs-3">
                                        {% if(contrat.isEnAttenteAcceptation() and contrat.contratPassages | length == 0) %}{{ contrat.previsionnel | length }}{% else %}{{ contrat.nbPassages}}{% endif %} passages prévus sur {{ contrat.duree }} mois
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="" title="{{ contrat.nomenclature | nl2br }}" data-html="true" data-toggle="tooltip">Voir la nomenclature</a>
                                    </div>
                                    <div class="col-xs-1">
                                        <small>{% if(contrat.dureePassage) %}<span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{ contrat.getHumanDureePassage }}</span>{% endif %}</small>
                                    </div>
                                    <div class="col-xs-2">
                                        {% if contrat.commentaire %}
                                            <div title="{{ contrat.commentaire | nl2br }}" data-html="true" data-toggle="tooltip"><a href="{{ path('contrat_acceptation',{id : contrat.id}) }}">Voir&nbsp; commentaire&nbsp;<small>(mod.)</small></a></div>
                                        {% else %}
                                            <small><em class="text-muted">Aucun commentaire</em> <a href="{{ path('contrat_acceptation',{id : contrat.id}) }}">(Ajouter)</a></small>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-2">
                                        <!--<a href="{{ path('contrat_visualisation', {'id': contrat.id })}}" class="btn btn-block btn-xs btn-default">Voir le contrat</a>-->
                                        <a href="{{ path('passage_creation', {'id_contrat': contrat.id, 'id_etablissement': etablissement.id })}}" class="btn btn-block btn-xs btn-default">Créer un passage</a>
                                    </div>
                                </div>
                            </div>
                            {% if passagesEtablissement %}
                               {{ include('passage/listingPassages.html.twig', { 'passages': passagesEtablissement.getPassagesDateSorted(true) }) }}
                            {% endif %}
                        </div>
                    </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
