{% set _menu_active = 'passage' %}
{% extends 'base.html.twig' %}
{% block title %}Passages{% endblock title %}
{% block body %}

        <div class="row hide-print">
            <div class="col-xs-12">
                {{ include('societe/choixForm.html.twig', {'urlTarget': path('passage_societe', {'id': '_id_', 'object': '_object_'}), 'autofocus': true })}}
            </div>

        </div>
        <div class="row hide-print">
            <div class="col-xs-12">
                <h3 class="hide-print">Liste des passages à planifier {% if secteur %}pour {{ etablissementManager.secteursNom(secteur) }}{% endif %}{% if anneeMois %} en {{ dateFin | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize }} {% else %} jusqu'au {{ dateFin | localizeddate("medium", "none", null, null, "d MMMM yyyy") }} {% endif %} </h3>
            </div>
        </div>
        <div class="row hide-print">
            <div class="col-xs-12">
                <ul class="nav nav-pills">
                    {% for key,moisPassage in moisPassagesArray %}
                        <li role="presentation" class="{% if key == anneeMois %} active {% endif %}">
                            <a href='{{ path('passage_secteur',{"secteur" : secteur, "mois" : key, "lat" : coordinatesCenter.lat, "lon" : coordinatesCenter.lon, "zoom": coordinatesCenter.zoom }) }}' >
                                <small><strong>
                                        {% if key == 'courant' %}
                                            D'ici le {{ dateFinCourant | localizeddate("medium", "none", null, null, "d/MM/Y") }}
                                        {% else %}
                                            {{ moisPassage.date | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize }}
                                        {% endif %}
                                    </strong></small>&nbsp;&nbsp;&nbsp;<span class="badge">{{ moisPassage.nb }}</span>&nbsp;</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal hide-print">
                    <div class="form-group">
                        <div class="col-xs-8">
                            <select mulitple="multiple" data-placeholder="Filtrer la liste en saisissant un techinicien, un code postal, ..." data-hamzastyle-container="#liste_passage" class="hamzastyle form-control select2" data-hamzastyle-export="#form_filtre" ></select>
                        </div>
                        {{ form_start(passagesFiltreExportForm) }}
                        {{ form_row(passagesFiltreExportForm.filtre) }}
                        <button class="btn btn-default col-xs-1" href="{{ path('passages_filtre_export') }}" >Export</button>
                        {{ form_end(passagesFiltreExportForm) }}
                        <div class="col-xs-3 text-right">
                            <div class="btn-group">
                                {% if secteur %}
                                <a class="btn btn-default {% if secteur == "PARIS" %}active{% endif %}" href="{{ path('passage_secteur', {'secteur' :"PARIS"}) }}">{{ etablissementManager.secteursNom("PARIS") }}</a>
                                <a class="btn btn-default {% if secteur == "SEINE_ET_MARNE" %}active{% endif %}" href="{{ path('passage_secteur', {'secteur' :"SEINE_ET_MARNE"}) }}">{{ etablissementManager.secteursNom("SEINE_ET_MARNE") }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 enlarge-print">
                        <div id="liste_passage" class="list-group well" style="height: 650px; overflow: auto; overflow-x: hidden; position: relative;">
                            {% for passage in passages %}
                                {% set dptKeyWord = (passage.etablissementInfos.adresse.codePostal | slice(0, 2)) ? "Département "~passage.etablissementInfos.adresse.codePostal | slice(0, 2) : "" %}
                                {% if(passage.techniciens | length == 0) %}
                                    {% set words = [dptKeyWord, "Sans technicien", passage.etablissementInfos.adresse.codePostal | trim, passage.etablissementInfos.adresse.commune | trim, passage.etablissementInfos.type, passage.datePrevision | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize, passage.etablissementInfos.nom] | merge(passage.prestationsNom) | merge(passage.wordingsArrFacturant) | json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
                                    {% set techColor = 'white' %}
                                    {% set techBgColor = 'transparent' %}
                                    {% set techIdentite = "" %}
                                {% else %}
                                    {% set words = [dptKeyWord, passage.techniciens[0].identite, passage.etablissementInfos.adresse.codePostal | trim, passage.etablissementInfos.adresse.commune | trim, passage.etablissementInfos.type, passage.datePrevision | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize, passage.etablissementInfos.nom, passage] | merge(passage.prestationsNom) | merge(passage.wordingsArrFacturant) | json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
                                    {% set techColor = passage.techniciens[0].couleurText %}
                                    {% set techBgColor = passage.techniciens[0].couleur %}
                                    {% set techIdentite = passage.techniciens[0].identiteCourt %}
                                {% endif %}
                                <div data-words='{{ words }}' id="{{ passage.id }}" data-url-etablissement="{{ path("passage_etablissement", {'id': 'ETABLISSEMENT-'~passage.etablissementIdentifiant}) }}" style="margin-bottom: 4px" class="panel panel-default hamzastyle-item hide-print">
                                    <div class="panel-heading">
                                        <div class="panel-title clearfix">
                                            <i class="mdi mdi-{{ passage.etablissementInfos.icon }} mdi-lg"></i>
                                            <strong>{{ passage.etablissementInfos.nom|capitalize }}</strong>
                                            <small>{{ passage.etablissementInfos.adresse.codePostal }} {{ passage.etablissementInfos.adresse.commune }}</small>
                                            {% if passage.type is constant('AppBundle\\Document\\Devis::DOCUMENT_TYPE') %}
                                              <i class="pull-right mdi mdi-local-shipping mdi-lg"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="clearfix">
                                            {% for prestation in passage.prestations %}
                                                {% if prestation.wordToPicto %}
                                                    <span class="size-21" title="{{ prestation.nomToString }}">
                                                        <i class="mdi-{{ prestation.wordToPicto }}"></i>
                                                    </span>
                                                {% else %}
                                                    <span class="label label-xs label-primary">{{ prestation.nomToString }}</span>
                                                {%endif%}
                                            {% endfor %}
                                            <span title="{{ passage.libelle }}" class="pull-right badge {% if passage.isGarantie or passage.isControle %} badge-warning {% else %} badge-default {% endif %} {% if passage.mouvementDeclenchable %} badge-inverse {% endif %} btn-xs">{{ passage.getNumeroPassage }}</span>

                                            {% if passage.audit %}
                                                <span class="pull-right mdi mdi-person text-danger" data-toggle="tooltip" data-placement="top" title="Audit {{ passage.audit }}"></span>
                                            {% endif %}
                                        </div>
                                        <div class="clearfix">
                                            <span class="label" style="background-color: {{ techBgColor }};color: {{ techColor }};">
                                                <small>{{ techIdentite }}</small>
                                            </span>
                                            {% if passage.multiTechnicien > 1 %}
                                                <span data-toggle="tooltip" title="{{ passage.multiTechnicien }} techniciens nécessaire sur ce passage">
                                                    <i class="mdi mdi-group mdi-lg"></i>
                                                </span>
                                            {% endif %}
                                            <a href="{{ path("calendar_planifier", {'planifiable': passage.id}) }}" class="btn btn-link" >
                                                <i class="mdi mdi-date-range mdi-lg"></i>
                                                {{ passage.datePrevision | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}
                                            </a>
                                            <span class="small pull-right">
                                                {% if passage.datePrecedente %}
                                                    Préc.&nbsp;le&nbsp;{{ passage.datePrecedente | localizeddate("medium", "none", null, null, "dd/MM/yyyy") | capitalize }}&nbsp;à&nbsp;{{ passage.datePrecedente | date("H") }}h{{ passage.datePrecedente | date("i") }}
                                                {% endif %}

                                                {% if passage.dureePrecedente %}
                                                    <i title="Durée" class="mdi mdi-schedule mdi-lg"></i>{{ passage.dureePrecedente }}
                                                {% endif %}
                                            </span>
                                            {% if passage.etablissementInfos.mauvaisPayeur %}
                                              <span class="small pull-right alert alert-danger" style="padding:5px;">
                                                <i class="mdi mdi-lg mdi-money-off"></i>
                                                <strong>Attention !</strong> Mauvais payeur
                                              </span>
                                            {% endif %}
                                        </div>
                                        {% if passage.type is not constant('AppBundle\\Document\\Devis::DOCUMENT_TYPE') %}
                                          <div data-url="{{ path('ajax_more_infos_passage', {'passage': passage.id }) }}"></div>
                                          <button type="button" class="btn-more-info btn btn-block btn-secondary"><i class="mdi mdi-lg mdi-vertical-align-bottom"></i> Plus d'informations</button>
                                        {% endif %}
                                    </div>
                                </div>

                                <div data-words='{{ words }}' class="hamzastyle-item show-print">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <i class="mdi mdi-{{ passage.etablissementInfos.icon }} mdi-lg"></i> <strong>{{ passage.etablissementInfos.nom|capitalize }}</strong>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <small>{{ passage.libelle }}{% if(passage.mouvementDeclenchable) %} - facturant{% endif %} -</small> <strong>{{ passage.datePrevision | localizeddate("medium", "none", null, null, "dd MMM yyyy") | capitalize }}</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ passage.etablissementInfos.adresse.adresse }} {{ passage.etablissementInfos.adresse.codePostal }} {{ passage.etablissementInfos.adresse.commune }}<br />
                                            {{ passage.etablissementInfos.telephoneFixe }}{% if passage.etablissementInfos.telephonePortable and passage.etablissementInfos.telephoneFixe %} - {% endif %} {{ passage.etablissementInfos.telephonePortable }}
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <ul>
                                                {% for prestation in passage.prestations %}
                                                    <li>{{ prestation.nomToString }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <strong>{{ techIdentite }}</strong>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {% if passage.datePrecedente %}
                                                Préc.&nbsp;à&nbsp;{{passage.datePrecedente | date("H") }}h{{passage.datePrecedente | date("i") }}
                                            {% endif %}
                                            {% if passage.dureePrecedente %}
                                                d'une durée de {{ passage.dureePrecedente }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xs-6 hide-print">
                        <div id="map" class="well" style="width: 100%; height: 650px;" data-geojson="{{ geojson | json_encode(constant('JSON_HEX_QUOT')) }}"
                                                                                       data-lat="{{ coordinatesCenter.lat }}" data-lon="{{ coordinatesCenter.lon }}"
                                                                                                                              data-zoom="{{ coordinatesCenter.zoom }}" data-historyrewrite="1" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
