<div class="well">
  <a class="btn btn-default" href="{{ path("passage_etablissement", {'id': etablissement.id}) }}">Voir l'établissement</a>
  <a class="btn btn-primary" href="{{ path("calendar_planifier", {'planifiable': passage.id}) }}">Planifier</a>
  <h5>
    <i class="mdi mdi-lg mdi-{{ societe.icon }}"></i> Société :
    <a href="{{path("societe_visualisation", {'id': societe.id})}}">
      {{ societe.raisonsociale }}
    </a>
  </h5>
  <h5>
    <i class="mdi mdi-{{ passage.etablissementInfos.icon }} mdi-lg"></i> Lieu d'application :
    <a href="{{path("passage_etablissement", {'id': passage.etablissement.id})}}">
      {{ etablissement.adresse.getIntitule() }}
    </a>
  </h5>
  <ul class="list-inline">
    {% if etablissement.contactCoordonnee.libelle %}
      <li class="list-inline-item"><i class="mdi mdi-contacts mdi-lg"></i> {{ etablissement.contactCoordonnee.libelle }}</li>
    {% endif %}
    {% if etablissement.contactCoordonnee.telephoneFixe %}
      <li class="list-inline-item"><i class="mdi mdi-call mdi-lg"></i> {{ etablissement.contactCoordonnee.telephoneFixe }}</li>
    {% endif %}
    {% if etablissement.contactCoordonnee.telephoneMobile %}
      <li class="list-inline-item"><i class="mdi mdi-smartphone mdi-lg"></i> {{ etablissement.contactCoordonnee.telephoneMobile }}</li>
    {% endif %}
    {% if etablissement.contactCoordonnee.email %}
      <li class="list-inline-item"><i class="mdi mdi-mail mdi-lg"></i>
        <a href="mailto:{{ etablissement.contactCoordonnee.email }}">
          {{ etablissement.contactCoordonnee.email }}
        </a>
      </li>
    {% endif %}
    {% if lastPassage %}
    <li class="list-inline-item">
    	Contrat n°{{ contrat.numeroArchive }} du {{ contrat.dateDebut | localizeddate("medium", "none", null, null, "d MMMM yyyy") | capitalize }} au {{ contrat.dateFin | localizeddate("medium", "none", null, null, "d MMMM yyyy") | capitalize }}
    </li>
    {% if passage.techniciens|length > 0 %}
      {% set tech = passage.techniciens[0] %}
      <li class="list-inline-item">
        Dernier passage :
        <span class="label" style="background-color: {{ tech.couleur }};color: {{ tech.couleurText }};">
              <small>{{ tech.identiteCourt }}</small>
          </span>&nbsp;
           à {{ lastPassage.getDateDebut()|date("H:i") }}
      </li>
      {% endif %}
    {% endif %}
  </ul>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <h5><i class="mdi mdi-lg mdi-info"></i> Nomenclature :</h5>
      {{ contrat.nomenclature | nl2br }}
    </div>
    <div class="col-xs-6 commentaires">
      <h5 style="cursor:pointer;" class="text-primary commentaire_lien" data-url="{{ path('etablissement_commentaire', {'id': passage.etablissement.id , 'passageId': passage.id}) }}" ><i class="mdi mdi-lg mdi-comment" ></i> Commentaires :</h5>
        {% if passage.commentaire %}
            <div title="Commentaire du passage">{{ passage.commentaire | nl2br }}</div>
        {% endif %}
        {% if etablissement.commentaire %}
            <div title="Commentaire établissement">{{ etablissement.commentaire | nl2br }}</div>
        {% endif %}
        {% if etablissement.commentairePlanification %}
            <div title="Commentaire plannification">{{ etablissement.commentairePlanification | nl2br }}</div>
        {% endif %}
    </div>
  </div>
</div>
