{% for passage in passages %}
<div class="list-group-item">
	<a name="{{ passage.id }}"></a>
	<div class="row">
		<div class="col-xs-2">
			<div class="row">
				<div class="col-xs-3">
					<span style="cursor: help;" title="{{ passage.libelle }}"
						data-toggle="tooltip"
						class="badge {% if(passage.isGarantie) %}badge-warning{% elseif(passage.isControle)%}badge-warning{% else %}badge-default{% endif %} {% if(passage.mouvementDeclenchable) %}badge-inverse{% endif %} btn-xs">{{
						passage.getNumeroPassage() }}</span>
						
				
				{% if (passage.isAPlanifie and origine is defined and origine == "contrat") %}
					<a class="btn btn-link btn-xs" href="{{ path('passage_suppression', {'id': passage.id}) }}" onclick="return confirm('Confirmez-vous la suppression de ce passe ?')"><span class="glyphicon glyphicon-remove"></span></a>
				{% endif %}
				</div>
				<div class="col-xs-9">

					{% if (passage.aPlanifie) %}
					<button class="btn btn-xs btn-block btn-primary">{{
						passage.getStatutLibelle() }}</button>
					{% elseif (passage.planifie) %}
					<button class="btn btn-xs btn-block btn-warning">{{
						passage.getStatutLibelle() }}</button>
					{% elseif (passage.annule) %}
					<button class="btn btn-xs btn-block btn-danger">{{
						passage.getStatutLibelle() }} </button>
					{% elseif (passage.realise) %}
					<button class="btn btn-xs btn-block btn-success">{{
						passage.getStatutLibelle() }}</button>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<a data-toggle="modal" data-remote="false"
				data-target="#modal-calendrier-infos"
				href="{{ path('passage_visualisation', { 'id': passage.id, 'service': app.request.uri }) }}">
				{% if passage.APlanifie %}
				 prévu le {{ passage.datePrevision | localizeddate("medium", "none", null, null, "d MMMM yyyy") | capitalize }}
				{% elseif passage.isAnnule %}
				({{ passage.datePrevision | localizeddate("medium", "none", null, null, "d MMMM yyyy") | capitalize }})
				{% else %}
					{{ passage.dateDebut| localizeddate('full', 'none') | capitalize }}
			  {% endif %}
				{% if passage.duree %} à {{passage.dateDebut | date("H") }}h{{passage.dateDebut | date("i") }}{% endif %}
				{% if (not passage.isRealise and origine is defined and origine == "contrat") %}
				<a class="btn btn-link btn-xs" href="{{ path('passage_modification', {'id': passage.id, 'service': path('contrat_visualisation', { 'id': contrat.id }) ~ "#" ~ passage.id }) }}">
				{% elseif(not passage.isRealise) %}
					<a class="btn btn-link btn-xs" href="{{ path('passage_modification', {'id': passage.id}) }}">
				{% endif %}
				<span class="glyphicon glyphicon-pencil"></span>
				</a>
			{% if(passage.audit) %} <span class="glyphicon glyphicon-user text-danger" data-toggle="tooltip" data-placement="top" title="Audit {{ passage.audit }}">&nbsp;</span>{% endif %}
		</div>
		<div class="col-xs-2">
			{% for prestation in passage.prestations %} {% if(prestation.wordToPicto)
			%} <span class="step size-24" title="{{  prestation.nomToString }}"
				data-toggle="tooltip"> <i class="mdi-{{prestation.wordToPicto}}"
				style="cursor: pointer;">&nbsp;</i></span> {%else%} <span
				class="label label-xs label-primary">{{ prestation.nomToString }}</span>
			{%endif%} {% endfor %}
		</div>
		<div class="col-xs-1">
			{% if(passage.duree) %}<span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{
				passage.duree }}</span>{% endif %}
		</div>
		<div class="col-xs-2">
			{% if passage.multiTechnicien > 1 %}<i class="mdi mdi-group mdi-lg"></i>{% else %}<i class="mdi mdi-face mdi-lg"></i>{% endif %}
			{% for technicien in passage.techniciens %}
				{{ technicien.identite }}
			{% endfor %}
		</div>
		<div class="col-xs-2 text-right">
			{% if passage.planifie %} <a class="btn btn-sm btn-block btn-warning"
				href="{{ path('passage_edition', { id: passage.id })}}">Saisir le rapport</a>
			{% elseif passage.realise %}<a class="btn btn-block btn-xs btn-default"
				href="{{ path('passage_edition', { id: passage.id })}}">Modifier le
				rapport</a> {% elseif passage.aPlanifie %}
				<a class="btn btn-sm btn-block btn-primary" href="{{ path('calendar_planifier', {'planifiable' : passage.id}) }}">Planifier</a>
			{% endif %}
		</div>
	</div>
</div>
{% endfor %}
